<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5p %logger - %msg%n"/>
        </Console>

        <File name="creatorAppender" fileName="logs/creator.log" append="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5p %logger - %msg%n</Pattern>
            </PatternLayout>
        </File>

        <File name="sorterAppender" fileName="logs/sorter.log" append="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5p %logger - %msg%n</Pattern>
            </PatternLayout>
        </File>

        <File name="allLogsFile" fileName="logs/all.log" append="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5p %logger - %msg%n</Pattern>
            </PatternLayout>
        </File>

    </Appenders>

    <Loggers>

        <!--due to additivity=true (the default) these logs will also be printed to console as well due to the root-->
        <logger name="industry.skills.logs.example.advance.creator" level="INFO" additivity="true">
            <AppenderRef ref="creatorAppender"/>
        </logger>

        <!--due to additivity=false these logs will NOT be printed to console-->
        <logger name="industry.skills.logs.example.advance.sort" level="TRACE" additivity="true">
            <AppenderRef ref="sorterAppender"/>
        </logger>

        <logger name="industry.skills.logs.example.advance.MainSorter" level="INFO" dditivity="false">
            <AppenderRef ref="Console"/>
        </logger>

        <!--this logger definition stands as a base for creator and sorter, but due to additivity false it prevents the loggers
            to move upper in the inheritance chain. so it also adds here the console appender-->
        <logger name="industry.skills.logs.example.advance" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="allLogsFile"/>
        </logger>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>

</Configuration>